/* Css que faz a imagem dar zoom */

.full-screen-main-div {
  position: relative;
  overflow-y: auto;

  margin-top: 20px;
  margin-bottom: 20px;

  display: block !important;
  -webkit-overflow-scrolling: touch;

  &.zoomDiv {
    overflow-x: scroll;
    width: 100%;
    max-height: 500px;

    @media (max-width: 767.98px) {
      max-height: 400px;
    }

    @media (max-width: 575.98px) {
      max-height: 320px;
    }

    @media (max-width: 375px) {
      max-height: 230px;
    }
  }

  img {
    &.openImgZoom {
      max-width: 1100px;
      width: 1100px !important;

      @media (max-width: 575px) {
        max-width: 700px;
        width: 700px !important;
      }
    }
  }

  img {
    &.openImgZoomDesktop {
      max-width: 150%;
      width: 150%;
    }
  }

  &.white-color {
    & + .aviso-img-zoom {
      color: var(--text-white);

      img {
        filter: brightness(0) invert(100%) sepia(100%) saturate(1%) hue-rotate(206deg) brightness(111%) contrast(101%);
      }
    }
  }
}

.aviso-img-zoom {
  margin-bottom: 40px;
}


.aviso-img-zoom{
  margin-bottom: 16px;
}

.header-interno{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 412px 0 40px;
  position: relative;

  @media (max-width: 991px){
    padding: 263px 0 40px;
  }

  @media (max-width: 475px){
    padding: 163px 0 40px;
  }

  &::before{
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(50, 50, 50, 0.8) 0%, rgba(21, 21, 21, 0.24) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &::after{
    content: url('../images/brand.svg');
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
  }
}

.bg-header-interno{
  position: relative;
  z-index: 5;
}

.bg-sustentabilidade{
  background: url('../images/bg-sustentabilidade.jpg') no-repeat center;
  background-size: cover;
  padding-top: 280px !important;
  padding-bottom: 100px !important;
}

.header-title{
  font-size: rem(38);
  color: var(--text-white);
  font-weight: 400;
  font-family: var(--font-text-1);
  margin: 0;
}

.section-historico-canal {
  padding-top: 24px;
  padding-bottom: 32px;
}

.flex-section-share{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--text-grey-scale-02);

  @media (max-width: 767px){
    align-items: flex-start;
    gap: 16px;
    flex-direction: column;
  }
}

.right-side-share{
  display: flex;
  align-items: center;
  gap: 12px;

  a{
    flex-shrink: 0;
  }

  span{
    font-size: rem(12);
    color: var(--text-grey-scale-07);
  }
}

.title-news{
  padding-bottom: 14px;
  border-bottom: 1px solid var(--text-grey-scale-03);
  margin-bottom: 40px;

  span{
    display: block;
    font-size: rem(12);
    color: var(--text-grey-scale-07);

    &.date-text{
     margin-bottom: 8px;
    }
  }
}

.filtro-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 16px;
  margin-top: 16px;

  @media (max-width: 475px) {
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  h2{
    flex: 1;
  }

  .form-select-filtro {
    label {
      color: var(--text-small);
      margin-bottom: 0;
    }

    select {
      color: var(--text-color);
    }

    @media (max-width: 475px) {
      width: 100%;
    }
  }
}

.form-select-filtro {
  display: flex;
  flex-direction: column;
  border-radius:4px;
  gap: 0px;
  background-color: transparent;
  border: 1px solid var(--text-grey-scale-05);
  background-color: transparent;

  padding: 0px;

  @media (min-width: 475px) {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  @media (max-width: 475px) {
    margin-bottom: 12px;
  }

  label {
    font-size: rem(12);
    color: var(--text-grey-scale-07);
    margin-bottom: 4px;
    margin-right: 24px;
    margin-left: 8px;
    margin-top: 8px;
  }

  select {
    background-color: transparent;
    border: none;
    color: var(--text-grey-scale-06);
    font-family: var(--font-text-2);
    font-weight: 400;
    font-size: rem(14);
    min-width: 190px;
    padding: 4px 30px 4px  8px;
    border-radius: 8px;

    background-image: url("../images/icons/icon-arrow-down-full.svg");
    background-position-x: calc(100% - 8px);

  }
}

.tab-content-solutions {
  .tab-pane {
    > .bg-gray {
      padding: 40px 0;
    }
  }
}

.iframe-video {
  height: 400px;

  @media (max-width: 575px) {
    height: 320px;
  }
}

.div-resultados{
  background-color: var(--secondary-01-var-1);
  padding: 24px;
  border-left: 6px solid var(--text-tertiary-01-default);
  border-radius: 2px;

  h3{
    padding-top: 0;
  }
}

.flex-image-setor-atuacao{
  background-color: var(--grey-scale-01);
  border-radius: 16px;
  margin-bottom: 40px;
  padding-top: 24px;

  display: flex;
  justify-content: center;
  gap: 8px;

  @media (max-width: 575px){
    flex-direction: column;
    gap: 24px;


    padding: 42px 16px;
  }
  

  .logo-sinqia-image{
    @media (max-width:767px){
      max-width: 150px;
    }

    @media (max-width:575px){
      display: none;
    }
  }
}

.image-setor-atuacao{
  position: relative;
  max-width: 481px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  @media (max-width: 991px){
  }

  @media (max-width: 767px){
    margin: 0px;
  }
 
  img{
    &.circle{
      position: absolute;
      z-index: 0;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);

      @media (max-width: 991px){
        max-width: 320px;
      }

      @media (max-width: 767px){
        max-width: 270px;
      }

      @media (max-width: 575px){
        max-width: calc(100% - 70px);
        width: 100%;
      }
    }

    &:not(.circle){
      position: relative;
      z-index: 2;
    }
  }

  .top{
    grid-column: 2/3;
  }

  .left{
    grid-column: 1/2;
  }

  .middle{
    grid-column: 2/3;
  }

  .right{
    grid-column: 3/4;
  }

  .bottom{
    grid-column: 2/3;
  }
}

.flex-bottom-img-setor{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 8px;
}

[data-anima]{
  opacity: 0;
  transform: translateY(40px);
  transition-duration: .4s;
  transition-timing-function: ease-in-out;
  transition-property: opacity, transform;

  &.active{
    opacity: 1;
    transform: translateY(0px);
  }
}

