.animate__animated.animate__backInUp {
  --animate-duration: 2s;
}

.card-home-1 {
  //   border: 1px solid red;

  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.card-home-2 {
  //   border: 1px solid red;

  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.card-home-3 {
  //   border: 1px solid red;

  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.card-home-4 {
  //   border: 1px solid red;

  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.card-home-5 {
  //   border: 1px solid red;

  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.card-home-6 {
  //   border: 1px solid red;

  animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
