.primary-button, .secondary-button, .ghost-button {
	box-shadow: none;

	border: 1px solid;
	border-radius: 4px;

	padding: 12px 24px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 100%;

	font-size: rem(16);
	font-weight: 400;

	font-family: var(--font-text-1);

	text-decoration: none;

	transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out !important;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1) !important;

	&.medium{
		padding: 12px 16px;
		font-size: rem(14);
	}

	&.small{
		padding: 8px 16px;
		font-size: rem(12);
	}

	&:disabled {
		cursor: not-allowed;

		border-color: var(--system-disabled) !important;
		color: var(--text-white) !important;
		background-color: var(--system-disabled) !important;

		&:hover, &:focus {
			border-color: inherit;
			color: inherit;
			background-color: inherit;
		}
	}

	&.arrow{
		display: inline-flex;
		align-items: center;
		gap: 8px;

		&::after{
			content: "";
			background: url('../images/icons/icon-arrow-right-big.svg') no-repeat center;
			width: 20px;
			height: 20px;
			font-family: var(--font-icomoon);
			color: var(--text-white);
		}
	}

	&.gmail{
		display: inline-flex;
		align-items: center;
		gap: 8px;

		&::after{
			content: "";
			background: url('../images/icons/icon-gmail.svg') no-repeat center;
			width: 20px;
			height: 20px;
		}
	}

	&.outlook{
		display: inline-flex;
		align-items: center;
		gap: 8px;

		&::after{
			content: "";
			background: url('../images/icons/icon-outlook.svg') no-repeat center;
			width: 20px;
			height: 20px;
		}
	}


	&.mobile-100{
		@media (max-width: 575px){
			width: 100%;
		}
	}
}

.primary-button {
	border-color: var(--text-primary-01-default);
	color: var(--text-white) !important;
	background-color: var(--text-primary-01-default);

	&:hover {
		border-color: var(--text-primary-01-var-2);
		color: var(--text-white) !important;
		background-color: var(--text-primary-01-var-2);

		&.arrow{
			&::after{
				filter: brightness(0) invert(0%) sepia(2%) saturate(0%) hue-rotate(196deg) brightness(99%) contrast(103%);
			}
		}
	}

	&:focus {
		border-color: var(--primary-01-var-3);
		color: var(--pure-white) !important;
		background-color: var(--primary-01-var-3);

		&.arrow{
			&::after{
				filter: brightness(0) invert(55%) sepia(0%) saturate(968%) hue-rotate(250deg) brightness(87%) contrast(90%);
			}
		}
	}
	
	&:disabled {
		cursor: not-allowed;

		border-color: var(--primary-01-default);
		color: var(--text-white) !important;
		background-color: var(--primary-01-default);

		opacity: 0.24;

		&:hover, &:focus {
			border-color: inherit;
			color: inherit;
			background-color: inherit;
		}
	}
}

.secondary-button {
	border-color: var(--secondary-01-default);
	color: var(--text-white) !important;
	background-color: var(--secondary-01-default);
	
	&.arrow{
		&::after{
			filter: brightness(0) invert(0%) sepia(100%) saturate(30%) hue-rotate(140deg) brightness(89%) contrast(106%);
		}
	}

	&:hover {
		border-color: var(--text-secondary-01-var-2);
		color: var(--pure-white) !important;
		background-color: var(--text-secondary-01-var-2);

		&.arrow{
			&::after{
				filter: brightness(0) invert(13%) sepia(29%) saturate(0%) hue-rotate(175deg) brightness(94%) contrast(88%);
			}
		}
	}

	&:focus {
		border-color: var(--text-secondary-01-var-3);
		color: var(--pure-white) !important;
		background-color: var(--text-secondary-01-var-3);

		&.arrow{
			&::after{
				filter: brightness(0) invert(54%) sepia(0%) saturate(104%) hue-rotate(241deg) brightness(91%) contrast(92%);
			}
		}
	}

	&:disabled {
		cursor: not-allowed;

		border-color: var(--secondary-01-default);
		color: var(--text-white) !important;
		background-color: var(--secondary-01-default);

		opacity: 0.32;

		&.arrow{
			&::after{
				filter: brightness(0) invert(0%) sepia(100%) saturate(30%) hue-rotate(140deg) brightness(89%) contrast(106%);
			}
		}

		&:hover, &:focus {
			border-color: inherit;
			color: inherit;
			background-color: inherit;
		}
	}
}

.ghost-button {
	border-color: var(--text-grey-scale-08);
	color: var(--text-grey-scale-08) !important;
	background-color: transparent;
	
	&.color-primary{
		border: 1px solid var(--text-primary-01-default);
		color: var(--text-primary-01-default) !important;
	}

	&.arrow{
		&::after{
			filter: brightness(0) invert(0%) sepia(100%) saturate(30%) hue-rotate(140deg) brightness(89%) contrast(106%);
		}
	}

	&:hover {
		border-color: var(--text-grey-scale-08);
		color: var(--grey-scale-08) !important;
		background-color: var(--grey-scale-01);
	}

	&:focus {
		border-color: var(--text-grey-scale-08);
		color: var(--grey-scale-03) !important;
		background-color: var(--grey-scale-01);

		&.arrow{
			&::after{
				filter: brightness(0) invert(100%) sepia(100%) saturate(0%) hue-rotate(228deg) brightness(104%) contrast(106%);
			}
		}
	}

	&:disabled {
		cursor: not-allowed;

		border-color: var(--text-grey-scale-08);
		color: var(--text-grey-scale-08) !important;
		background-color: transparent;

		opacity: 0.32;

		&.arrow{
			&::after{
				filter: brightness(0) invert(0%) sepia(100%) saturate(30%) hue-rotate(140deg) brightness(89%) contrast(106%);
			}
		}

		&:hover, &:focus {
			border-color: inherit;
			color: inherit;
			background-color: inherit;
		}
	}
}

