.nav-calendario{
    padding: 0;
    max-width: 230px;
    margin: 0 auto;

    .slick-list{
        padding: 0 !important;

        li{
            text-align: center;
            color: var(--text-primary-01-var-01);
            font-size: rem(18);
        }
    }

    .slick-arrow{
        top: 39%;

        &::before{
            content: "";
            font-family: var(--font-icomoon);
            color: var(--text-primary-01-var-01);
            font-size: rem(28);
        }
    }

    .slick-next{
        &::before{
            content: "\e909";
        }
    }
    .slick-prev{
        &::before{
            content: "\e908";
        }
    }
}

.ui-datepicker-header{
    padding: 16px 8px;

    display: flex;
    gap: 16px;

    .ui-corner-all{
        display: flex;
        align-items: center;

        .ui-icon{
            height: 16px;
            width: 20px;
            display: block;

            &::after{
                content: url("../images/icons/icon-arrow-right.svg");
                display: block;
                height: 16px;
            }
        }

        &.ui-datepicker-prev {
            .ui-icon{
                transform: rotate(180deg);
            }
        }

        &.ui-datepicker-next {
            order: 3;
        }
    }

    .ui-datepicker-title{
        text-align: center;

        span{
            font-size: rem(18);
            color: var(--text-secondary-01-default);
            font-weight: 600;

            &:nth-child(1){
                &::after{
                    content: " /";

                }
            }
        }
    }
}

.ui-datepicker-calendar{
    width: 100%;

    thead{
        th{
            color: var(--text-grey-scale-06);
            font-size: rem(12);
            padding: 7px 14px;
            text-align: center;
            font-weight: 700;
        }
    }

    tbody{
        td{
            padding: 0;

            a{
                color: var(--text-grey-scale-06) !important;
                text-decoration: none;
                text-align: center;
                display: block;
                font-weight: 700;
                padding: 8px 8px 16px 8px;
                border: 1px solid var(--text-grey-scale-03);
                position: relative;

                &::after{
                    content: "";
                    height: 6px;
                    width: 6px;
                    background-color: transparent;
                    position: absolute;
                    border-radius: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 9px;
                }

                &.ui-state-active{
                    background-color: var(--tertiary-01-var-3);
                }

                &.yellow{

                    &::after{
                        background-color: #FFC700;
                    }
                }

                &.blue{
                    &::after{
                        background-color: #0EB7FF;
                    }
                }

                &.pink{

                    &::after{
                        background-color: #E763D9;
                    }
                }

                &.red{

                    &::after{
                        background-color: #9A1E16;
                    }
                }

                &.green{

                    &::after{
                        background-color: #2EDA92;
                    }
                }

                &.black{

                    &::after{
                        background-color: #2A2A2A;
                    }
                }
            }
        }
    }
}

