.container-carrosel {
  // padding-left: 72px;
  // padding-right: 72px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.content-carrosel {
  display: flex;
  // height: 406px;
  justify-content: space-between;
  align-items: center;
}

.content-text-carrosel {
  width: 50%;
}

.content-text-carrosel h1 {
  color: #002e5f;
  font-size: 52px;
  font-family: "PT Serif";
  font-weight: 400;
  line-height: 68.64px;
  word-wrap: break-word;
}

.content-text-carrosel h1 span {
  color: #002e5f;
  font-size: 52px;
  font-family: "PT Serif";
  font-weight: 700;
  line-height: 68.64px;
  word-wrap: break-word;
}

.content-text-carrosel p {
  color: #333333;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 25.6px;
  word-wrap: break-word;
}

/* Estilos para o efeito de overlay dentro da imagem */

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.swiper-hover-div:hover .overlay {
  opacity: 1;
}

.swiper-hover-div:hover .image-with-overlay {
  transform: scale(1.1); /* Aplica a escala ao passar o mouse */
}

.swiper-slide {
  position: relative;
  overflow: hidden;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: height 0.5s ease; /* Adicione a transição de altura */
}

.image-with-overlay {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease-out, opacity 0.3s ease;
}

// .swiper-hover-div:hover .image-container {
//   height: 269px; /* Aumenta a altura da div container */
// }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Ajuste a altura do overlay conforme necessário */
  background: linear-gradient(
    to top,
    rgba(15, 66, 160, 0.5) 50%,
    transparent 100%
  );
  opacity: 0;
  transition: opacity 0.9s ease; /* Transição de opacidade */
}

.content-text-carrosel button {
  padding: 10px 20px 10px 20px;
  background-color: #002e5f;
  border: none;
  border-radius: 4px;

  color: white;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 25.6px;
  word-wrap: break-word;
  transition: 0.5s ease;

  margin-top: 40px;
}

.content-text-carrosel button:hover {
  background: #0e427a;
  transition: 0.5s ease;
}

.content-carrosel-eng {
  width: 60%;
}

@media (max-width: 800px) {
  .texts-home button {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .content-carrosel .content-carrosel-eng {
    width: 40%;
  }

  .content-carrosel {
    padding-left: 64px;
  }
}

@media (max-width: 800px) {
  .content-carrosel .content-carrosel-eng {
    width: 60% !important;
  }

  .content-carrosel .content-text-carrosel {
    padding-left: 72px;
    padding-right: 72px;
  }

  .content-carrosel {
    padding-left: 0;
  }
}

@media (max-width: 560px) {
  .content-carrosel .content-text-carrosel {
    padding-left: 0;
    padding-right: 0;
  }

  .content-carrosel .content-carrosel-eng {
    width: 100% !important;
  }
}

// @media (max-width: 600px) {
//   .slide-footer {
//     width: 100% !important;
//   }
// }
