.container-contato {
  margin-top: 64px;
  margin-bottom: 64px;

  padding-left: 20px;
  padding-right: 20px;
}

.container-infos-contato {
  display: flex;
  justify-content: space-between;
}

.title-contato {
  h1 {
    // Entre em contato com <br/>um dos nossos especialistas
    color: #002e5f;
    font-size: 34px;
    font-family: PT Serif;
    font-weight: 700;
    line-height: 44.88px;
    word-wrap: break-word;
  }

  span {
    // Entre em contato com um dos nossos especialistas
    color: #333333;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 25.6px;
    word-wrap: break-word;
  }
}

.cards-contato {
  display: flex;
  justify-content: space-between;

  .inputs-contato {
    width: 47%;
    margin-top: 24px;
  }

  .infos-contato {
    width: 50%;
    height: 100%;
    border-radius: 4px;
    background-color: #002e5f;

    padding: 40px;

    span {
      // Av. Lorem Ipsum, 1234 - São Paulo, SP - Brasil
      color: #eeeeee;
      font-size: 16px;
      font-family: "Roboto";
      font-weight: 400;
      line-height: 25.6px;
      word-wrap: break-word;
    }

    p {
      // (11) 1234-5678
      color: #eeeeee;
      font-size: 16px;
      font-family: "Roboto";
      font-weight: 400;
      line-height: 25.6px;
      word-wrap: break-word;
    }

    h5 {
      // contato@pnb.com.br
      color: #eeeeee;
      font-size: 16px;
      font-family: "Roboto";
      font-weight: 400;
      line-height: 25.6px;
      word-wrap: break-word;
      margin-top: -2px;
    }

    h2 {
      // Av. Lorem Ipsum, 1234 - São Paulo, SP - Brasil
      color: #eeeeee;
      font-size: 16px;
      font-family: "Roboto";
      font-weight: 700;
      line-height: 25.6px;
      word-wrap: break-word;
      margin-bottom: -4px;
    }

    .margin-p-contato {
      margin-top: -10px;
    }
  }
}

.form-control {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 16px;
  padding: 0;
}

.form-control label {
  // Nome completo
  color: #999999;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
  margin-bottom: 8px;
}

.form-control input {
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  border: 1px solid #999999;
}

.form-control input::placeholder {
  // Digite seu e-mail @
  color: #999999;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

.form-control.success i.fa-circle-check {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-circle-exclamation {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
  position: relative;
}

.content-contato {
  background-color: #eeeeee;
  margin-bottom: -60px;
  z-index: 1;

  padding-left: 80px;
  padding-right: 80px;
}

.form-control #togglePassword,
.form-control #togglePassword2 {
  visibility: visible;
}

.btns-form {
  margin-top: 40px;
}

#limpar {
  padding: 10px 24px 10px 24px;
  color: black;
  font-size: 16px;
  font-size: "Roboto";
  font-weight: 400;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 4px;
  background-color: #cccccc;
}

#entrar-contato {
  padding: 10px 24px 10px 24px;
  border-radius: 4px;
  border: none;
  background-color: #002e5f;
  color: white;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  margin-left: 24px;
}

input[type="checkbox"],
input[type="radio"] {
  --active: #275efe;
  --active-inner: #fff;
  --focus: 2px rgba(39, 94, 254, 0.3);
  --border: #bbc1e1;
  --border-hover: #275efe;
  --background: #fff;
  --disabled: #f6f8ff;
  --disabled-inner: #e1e6f9;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;

  &:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }

  &:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }

  &:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;

    &:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }

    & + label {
      cursor: not-allowed;
    }
  }

  &:hover {
    &:not(:checked) {
      &:not(:disabled) {
        --bc: var(--border-hover);
      }
    }
  }

  &:focus {
    box-shadow: 0 0 0 var(--focus);
  }

  &:not(.switch) {
    width: 21px;

    &:after {
      opacity: var(--o, 0);
    }

    &:checked {
      --o: 1;
    }
  }

  & + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
}

input[type="checkbox"] {
  &:not(.switch) {
    border-radius: 7px;

    &:after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }

    &:checked {
      --r: 43deg;
    }
  }

  &.switch {
    width: 38px;
    border-radius: 11px;

    &:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }

    &:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }

    &:disabled {
      &:not(:checked) {
        &:after {
          opacity: 0.6;
        }
      }
    }
  }
}

.span-checkbox {
  margin-left: 15px;
}

.recaptcha {
  margin-top: 24px;
}

.infos-contato-last {
  display: none;
}

@media (max-width: 850px) {
  .cards-contato {
    flex-direction: column;
    width: 100%;
  }

  .container-contato {
    padding-left: 0px;
    padding-right: 0px;
  }

  .btns-form {
    display: flex;
    justify-content: center;
  }

  #limpar {
    width: 50%;
  }

  #entrar-contato {
    width: 50%;
  }

  .infos-contato {
    display: none;
  }

  .infos-contato-last {
    display: block;
    background-color: #002e5f;
    padding: 40px 20px 15px 20px;
    span {
      color: #eeeeee;
      font-size: 16px;
      font-family: "Roboto";
      font-weight: 400;
      line-height: 25.6px;
      word-wrap: break-word;
      display: block;
      width: 100%;
    }

    p {
      color: #eeeeee;
      font-size: 16px;
      font-family: "Roboto";
      font-weight: 400;
      line-height: 25.6px;
      word-wrap: break-word;
    }

    h5 {
      color: #eeeeee;
      font-size: 16px;
      font-family: "Roboto";
      font-weight: 400;
      line-height: 25.6px;
      word-wrap: break-word;
      margin-top: -6px;
    }

    h2 {
      color: #eeeeee;
      font-size: 16px;
      font-family: "Roboto";
      font-weight: 700;
      line-height: 25.6px;
      word-wrap: break-word;
    }
  }

  .cards-contato .inputs-contato {
    width: 100%;
    max-width: 100%;
  }

  // * {
  //   border: 1px solid red;
  // }
}

@media (max-width: 440px) {
  .btns-form {
    display: grid;
    justify-content: center;
    gap: 20px;
  }

  #limpar {
    width: 82vw;
  }

  #entrar-contato {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 650px) {
  .content-contato {
    margin-bottom: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 420px) {
  .checkbox-input-contato {
    display: flex;
  }

  input[type="checkbox"]:not(.switch) {
    padding-left: 20px;
  }
}
