.container-invest {
  display: flex;
  flex: 1;
  // border: 1px solid red;
}

.first-section-main {
  display: flex;
  justify-content: space-between;
  height: 71.6vh;
  padding-top: 80px;
  padding-bottom: 0;
}

.content-invest-img {
  width: 50%;
}

.content-invest-img img {
  border-top-left-radius: 4px;
}

.content-invest-text {
  margin: 0;
  padding: 0;
  margin: auto;
  justify-content: start;
  align-items: center;
  display: flex;
}

.cambio-cards-content {
  display: flex;
  gap: 24px;
  margin-bottom: 80px;
}

.cambio-card {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 32px;
  border-radius: 4px;
  background-color: white;

  h1 {
    color: #333333;
    font-size: 52px;
    font-family: "PT Serif";
    font-weight: 700;
    line-height: 64.48px;
    word-wrap: break-word;
  }

  h4 {
    color: #0160a6;
    font-size: 18px;
    font-family: "PT Serif";
    line-height: 25.2px;
    font-weight: 700;
    word-wrap: break-word;
  }

  span {
    color: #666666;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 25.6px;
    word-wrap: break-word;
  }
}

.img-banner-invest {
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: cover;

  img {
    width: 47vw;
    border-top-left-radius: 4px;
    // width: 600px;
  }
}

.bloco-pagamentos {
  // z-index: 1;
  right: 0;
  width: 47vw;
  height: 392px;
  position: absolute;
  background-color: #01518c;
}

.main-content-invest {
  margin-top: 100px;
  margin-left: 20px;
  height: 60vh;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 80px;
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.derivativos-invest {
  background-color: #002e5f;
  padding-top: 80px;
  padding-bottom: 80px;
}

.container-derivativos {
  // border: 1px solid red;

  h1 {
    color: white;
    font-size: 32px;
    font-family: "PT Serif";
    font-weight: 700;
    line-height: 44.8px;
    word-wrap: break-word;
    margin-bottom: 24px;
  }

  h5 {
    color: #dddddd;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 25.6px;
    word-wrap: break-word;
    margin-bottom: 30px;
  }

  span {
    color: #dddddd;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 25.6px;
    word-wrap: break-word;
  }
}

.container-multi {
  margin-top: 80px;
  margin-bottom: 64px;

  h1 {
    color: #002e5f;
    font-size: 34px;
    font-family: "PT Serif";
    font-weight: 700;
    line-height: 44.88px;
    word-wrap: break-word;
    margin-bottom: 24px;
  }

  h3 {
    color: #002e5f;
    font-family: "PT Serif";
    font-weight: 400;
    font-size: 28px;
    line-height: 36.96px;
    word-wrap: break-word;
    margin-bottom: 24px;

    width: 55%;
  }

  span {
    color: #666666;
    font-size: 16px;
    font-family: "Roboto";
    line-height: 25.6px;
    font-weight: 400;
    word-wrap: break-word;

    display: inline-block;
    width: 58%;
  }
}

.derivativos-card-content {
  display: flex;
  margin-top: 40px;
  gap: 24px;
}

.derivativos-card {
  background-color: white;
  padding: 32px;
  width: 276px;
  border-radius: 4px;

  h1 {
    color: #002e5f;
    font-size: 28px;
    font-family: "PT Serif";
    font-weight: 700;
    line-height: 36.96px;
    word-wrap: break-word;
    margin: 0;
  }
}

.image-bg-home-invest {
  object-fit: cover;
  right: 0;
  width: 600px;
}

.image-bg-home-invest img {
  right: 0;
  left: 0;
}

.image-first-section img {
  position: absolute;
  right: 0;
  width: 50%;
}

.text-first-section {
  z-index: 1;
  position: absolute;
  padding-bottom: 80px;
  margin: auto;
  // width: 32%;
  width: 30vw;
  // bottom: 0;

  span {
    // M&A
    color: #0160a6;
    font-size: 18px;
    font-family: "PT Serif";
    font-weight: 700;
    line-height: 25.2px;
    word-wrap: break-word;
    margin-bottom: 16px;
  }

  h1 {
    // Assessoria financeira e estratégica em operações de venda ou de aquisição de empresas e ativos e captação de recursos com investidores.
    color: #002e5f;
    font-size: 34px;
    font-family: "PT Serif";
    font-weight: 400;
    line-height: 44.88px;
    word-wrap: break-word;
  }
}

.first-section-invest {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.img-first-section {
  height: 100%;

  img {
    object-fit: cover;
    border-radius: 4px;
  }
}

.fixed-image {
  right: 0;
  width: 100%;
}

.section-main-invest {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
}

.container-first-investment {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.section-capitais {
  background-color: #002e5f;
}

.title-capitais-invest {
  margin-top: 80px;
  //   border: 10px solid red;
  //   border: 1px solid red;

  h1 {
    // Mercado de Capitais
    color: white;
    font-size: 34px;
    font-family: "PT Serif";
    font-weight: 700;
    line-height: 44.88px;
    word-wrap: break-word;
  }

  span {
    // Soluções para melhoria do perfil de dívida das empresas, securitização<br/>de recebíveis, financiamento de projetos e financiamento operacional.
    color: #dddddd;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 25.6px;
    word-wrap: break-word;
  }
}

.notes-capitais-invest {
  padding-bottom: 80px;

  //   border: 1px solid red;
  //   width: 17%;
  h3 {
    // Debenture
    color: white;
    font-size: 28px;
    font-family: "PT Serif";
    font-weight: 400;
    line-height: 36.96px;
    word-wrap: break-word;
  }

  span {
    // Lorem ipsum dolor sit amet consectetur.
    color: white;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 25.6px;
    word-wrap: break-word;
  }
}

.values-capitais-invest {
  margin-top: 64px;
  gap: 20px;
  display: flex;
}

.title-pagamentos-invest {
  //   border: 1px solid red;
  width: 28%;

  h1 {
    // Pagamentos
    color: #002e5f;
    font-size: 34px;
    font-family: "PT Serif";
    font-weight: 700;
    line-height: 44.88px;
    word-wrap: break-word;
  }

  span {
    // Soluções de adquirencia para processamento de pagamentos de cartões presentes e e-commerce, local<br/>e "cross border".
    color: #666666;
    font-size: 24px;
    font-family: "PT Serif";
    font-weight: 400;
    line-height: 31.68px;
    word-wrap: break-word;
  }
}

.content-pagamentos {
  margin-top: 80px;
  margin-bottom: 80px;
  gap: 24px;
  display: flex;
  align-items: center;
}

.card-pag {
  z-index: 1;
  position: relative;
  display: flex;
  gap: 40px;
}

.banking-invest-title h1 {
  // Banking as a Service
  color: #002e5f;
  font-size: 34px;
  font-family: "PT Serif";
  font-weight: 700;
  line-height: 44.88px;
  word-wrap: break-word;
}

.cards-banking {
  background-color: #002e5f;
  padding: 48px 68px 48px 64px;
  width: 392px;
  height: 372px;
  //   width: 33%;
  text-align: start;
}

.cards-banking img {
  margin-bottom: 40px;
}

.cards-banking span {
  // Assessoria para estruturação de Banco digital com solução white label.
  color: white;
  font-size: 24px;
  font-family: "PT Serif";
  font-weight: 400;
  line-height: 31.68px;
  word-wrap: break-word;
}

.container-cards-banking {
  //   border: 1px solid red;
  display: flex;
}

.card-inf {
  background-color: #01518c !important;
}

.cambio-title {
  margin-bottom: 40px;
}

.cambio-title h1 {
  // Câmbio
  color: #002e5f;
  font-size: 34px;
  font-family: "PT Serif";
  font-weight: 700;
  line-height: 44.88px;
  word-wrap: break-word;
}

.cambio-title span {
  // Contratação de operações de câmbio.
  color: #666666;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 25.6px;
  word-wrap: break-word;
}

.banking-invest {
  margin-bottom: -110px;
  z-index: 1;
}

.cambio-invest {
  // border: 1px solid red;
  background-color: #eeeeee;
  padding-top: 196px;
}

.cards-pagamento-invest-last {
  display: none;
}

@media (max-width: 1200px) {
  .text-first-section {
    position: relative;
  }
  .img-banner-invest {
    position: relative;
    width: 100%;
  }

  .content-invest-text {
    flex-direction: column;
  }

  .img-banner-invest img {
    width: 100%;
  }

  .text-first-section {
    width: 100%;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 60px;
  }

  .main-content-invest {
    margin-top: 0;
    height: auto;
    margin-left: 0;
    padding-bottom: 0px;
  }

  .card-pag {
    display: none;
  }

  .bloco-pagamentos {
    display: none;
  }

  .cards-pagamento-invest-last {
    display: contents;
    gap: 24px;
  }

  .content-pagamentos {
    display: flex;
    flex-direction: column;
  }

  .title-pagamentos-invest {
    width: 100%;
  }

  .container-cards-banking {
    flex-direction: column;
  }

  .cards-banking {
    width: 100%;
    height: auto;
  }

  .cambio-cards-content {
    flex-direction: column;
  }

  // .container {
  //   max-width: 720px !important;
  // }
}

@media (max-width: 1050px) {
  .values-capitais-invest {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 900px) {
  .derivativos-card-content {
    flex-direction: column;
  }

  .derivativos-card {
    width: 100%;
  }

  .container-multi h3 {
    width: 100%;
  }
  .container-multi span {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .values-capitais-invest {
    grid-template-columns: auto;
  }
}
