.list-downloads{
    padding: 0;
    margin-bottom: 0;

    li{
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        border-radius: 0px;
        padding: 0px;
        border-bottom: 1px solid var(--text-grey-scale-02);
        
        >div{
            display: flex;
            align-items: center;
            width: 100%;
            transition: .3s ease-out;

            @media (max-width: 991px){
                flex-direction: column;
                align-items: flex-start;
            }

        }

        @media (max-width: 1024px){
            flex-wrap: wrap;
        }

        span{
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--text-grey-scale-06);
            font-size: rem(16);
            font-family: var(--font-text-1);
            line-height: normal;
            font-weight: 400;

            &::after{
                content: "";
                display: block;
                height: 1px;
                width: 4px;
                background-color: var(--text-grey-scale-06);
                margin-right: 8px;

                @media (max-width: 991px){
                    content: none;
                }
            }

            @media (max-width: 991px){
                margin: 24px 0 0 0;
            }
        }
       

        a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 24px 0;
            margin-left: 0;
            text-decoration: none;
            color: var(--text-grey-scale-08);
            font-family: var(--font-text-1);
            font-weight: 400;
            gap: 8px;
            flex-wrap: wrap;
            transition: .3s ease-out;
            transition-timing-function: cubic-bezier(0, 0, 0.2, 1) !important;

            @media (max-width: 1024px){
                margin-left: 0px;
            }

            @media (max-width: 991px){
                padding: 4px 0px 24px 0;
            }

            .imgs-list-download{
                position: relative;

                img{
                    width: 24px;
                    transition: .3s ease-in-out;
    
                    &.img-download{
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }
                }
            }

            p{
                flex: 1;
                margin-bottom: 0;
                font-family: var(--font-text-1);
                color: var(--text-grey-scale-08);
            }
        }

        &:hover{
            background-color: var(--grey-scale-01);
            span{
                color: var(--text-black);
                &::after{
                    background-color: var(--text-black);
                }
            }

            >div{
                padding:0px 16px;
            }

            a{
                p{
                    color: var(--text-primary-01-default) !important;
                    font-weight: 700;
                }

                img{
                    &.img-pdf{
                        opacity: 0;
                    }

                    &.img-download{
                        opacity: 1;
                    }
                }
            }
        }
    }

    &.not-hide-icon{
        &:hover{
            a{
                img{
                    &.img-pdf{
                        opacity: 1;
                    }
                }
            }
        }
    }
   
}

.list-downloads-all-links{

    padding: 0;
    margin-bottom: 0;

    li{
        display: flex;
        align-items: center;
        margin-bottom: 0;

        >div{
            display: flex;
            align-items: center;
            width: 100%;
            transition: .3s ease-out;

            @media (max-width: 991px){
                align-items: flex-start;
            }

        }

        >div{
            display: flex;
            align-items: center;
            justify-content: space-between;

            >a{
                flex: 1;
                text-decoration: none;
            }

            a{
                padding: 24px 0;
            }

            .imgs-list-download{
                position: relative;

                img{
                    width: 24px;
                    transition: .3s ease-in-out;
    
                    &.img-download{
                        position: absolute;
                        top: 0;
                        right: 0;
                        opacity: 0;
                    }
                }
            }

            &:hover{
                span{
                    color: var(--text-primary-01-default);
    
                    &::after{
                        background-color: var(--primary-01-default);
                    }
                }
    
                >div{
                    padding:0px;
                }
    
                a{
                    p{
                        font-weight: 700;
                        color: var(--text-primary-01-default);
                    }
    
                    img{
                        &.img-pdf{
                            opacity: 0;
                        }
    
                        &.img-download{
                            opacity: 1;
                        }
                    }
                }
            }
        }
      
        border-bottom: 1px solid var(--text-grey-scale-02);

        @media (max-width: 1024px){
            flex-wrap: wrap;
        }

        span{
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--text-grey-scale-06);
            font-size: rem(16);
            line-height: normal;

            &::after{
                content: "";
                display: block;
                height: 1px;
                width: 3px;
                background-color: var(--text-grey-scale-06);
                margin-right: 8px;

                @media (max-width: 991px){
                    content: none;
                }
            }

            @media (max-width: 991px){
                margin: 16px 0 0 0;
            }
        }
       

        >a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 25px 0;
            margin-left: 0;
            text-decoration: none;
            color: var(--text-grey-scale-03);
            font-weight: 400;
            gap: 8px;
            flex-wrap: wrap;
            transition: .3s ease-out;
            transition-timing-function: cubic-bezier(0, 0, 0.2, 1) !important;

            @media (max-width: 1024px){
                margin-left: 0px;
            }

            @media (max-width: 991px){
                padding: 4px 0px 16px 0;
            }

            .imgs-list-download{
                position: relative;

                img{
                    width: 24px;
                    transition: .3s ease-in-out;
    
                    &.img-download{
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }
                }
            }

            p{
                flex: 1;
                margin-bottom: 0;
            }
        }

        &:hover{
            span{
                color: var(--text-primary-01-default);

                &::after{
                    background-color: var(--primary-01-default);
                }
            }

            >div{
                padding:0px 8px;
            }

            a{
                p{
                    font-weight: 700;
                    color: var(--text-primary-01-default);
                }

                img{
                    &.img-pdf{
                        opacity: 0;
                    }

                    &.img-download{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.list-canais{
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
  
    li{
      display: flex;
      align-items: center;
      font-size: rem(14);
      margin-bottom: 0;
  
      a{
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 16px;
        color: var(--text-grey-scale-05);
      }
  
      &:not(:last-child){
        margin-right: 16px;
  
        &::after{
          content: "\e909";
          font-family: var(--font-icomoon);
          display: block;
          margin-left: 16px;
          color: var(--text-grey-scale-05);
        }
      }

      &:last-child{
        color: var(--text-grey-scale-05);
      }
  
      &.active{
        a{
          color: var(--text-black);
          font-weight: 700;
        }
      }
    }
}

.list-paginacao{
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 0;
    flex-wrap: wrap;

    margin-top: 40px;

    li{
        a{
            border-radius: 4px;
            padding: 8px 16px;
            background-color: var(--primary-01-default);
            border: 1px solid var(--text-primary-01-default);
            color: var(--text-white) !important;
            text-decoration: none;
            display: block;
            font-size: rem(12);
            font-weight: 400 !important;
            line-height: 100%;
            transition: .3s ease-in-out;
            opacity: .32;

            &:hover{
                border: 1px solid var(--primary-01-var-3);
                background-color: var(--primary-01-var-3);
                color: var(--white);
            }
        }


        &.active{
            a{
                background-color: var(--text-primary-01-default);
                border: 1px solid var(--text-primary-01-default);
                color: var(--pure-white) !important;
                opacity: 1;

                &:hover{
                    border: 1px solid var(--text-primary-01-var-3);
                    background-color: var(--text-primary-01-var-3);
                    color: var(--text-primary-01-default);
                }
            }
        }
    }
}

.list-resultado-busca{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;

    margin-top: 16px;

    li{
        margin-right: 8px;
        padding: 8px 16px;
        border-radius: 4px;
        background-color: var(--primary-01-default);
        color: var(--text-white);
        font-family: var(--font-text-3);
        font-weight: 700;
        font-size: rem(12);
    }
}

.list-calendario-eventos{
    padding: 0;
    margin-bottom: 0;
    
    .item-calendario-eventos{
        margin-bottom: 0;
        padding: 16px 0;
        transition: .3s ease-in-out;
        border-bottom: 1px solid var(--text-grey-scale-02);

        &:hover{
            background-color: var(--grey-scale-01);
            padding: 16px;
        }

        .date-calendar-list{
            display: flex;
            color: var(--text-grey-scale-04);
            font-size: rem(14);

            span{
                display: flex;
                align-items: center;

                &::after{
                    content: "";
                    display: block;
                    height: 1px;
                    width: 8px;
                    margin: 0px 8px;
                    background-color: var(--text-small);
                }
            }

            p{
                font-size: rem(14);
                color: var(--text-grey-scale-04);
            }
        }

        .content-calendar-list{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            gap: 12px;

            margin-top: 4px;

            @media (max-width: 575px){
                flex-direction: column;
            }

            .links-exportar{
                display: flex;
                align-items: flex-end;
                flex-wrap: wrap;
                column-gap: 8px;
                max-width: 60px;

                span{
                    flex: 100%;
                    color: var(--text-grey-scale-04);
                    font-size: rem(12);
                    text-align: end;
                }

                @media (max-width: 575px){
                    align-self: flex-end;

                    span{
                        display: none;
                    }
                }

                >a{
                    display: block;
                    padding: 0;
                    margin: 0;
                    text-decoration: none;
                    border: none;
                }
            }
        }

        a{
            display: block;
            border-bottom: 1px solid var(--text-grey-scale-02);
            text-decoration: none;
            padding-bottom: 16px;
            margin-bottom: 16px;

            div{
                display: flex;
                align-items: center;

                margin-top: 4px;

                span{
                    display: flex;
                    align-items: center;
                    color: var(--text-grey-scale-04);
                    
                    &::after{
                        content: "";
                        display: block;
                        height: 1px;
                        width: 6px;
                        background-color: var(--text-grey-scale-04);
                        margin: 0 8px;
                    }
                }

                p{
                    color: var(--text-color);
                }
            }
        }
    }
}

.li-cores-calendario{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;

    padding: 0;
    margin-bottom: 0;
    
    li{
        display: flex;
        align-items: center;
        gap: 8px;

        margin-right: 16px;

        span{
            height: 8px;
            width: 8px;
            border-radius: 50%;
        }

        p{
            font-size: 12px;
            font-family: var(--font-text-3);
        }
    }
}

.list-calendario{
    margin-bottom: 0;
    padding: 0;

    .item-list-calendario{
        margin-bottom: 0;
        padding: 16px 0;
        border-bottom: 1px solid var(--text-grey-scale-02);
        transition: .3s;

        display: flex;
        justify-content: space-between;
        gap: 16px;

        @media (max-width: 575px){
            flex-direction: column;
        }

        @media (max-width: 475px){
            flex-direction: column;
            align-items: flex-start;

            padding: 16px 8px;
        }

        &:hover{
            padding: 16px 16px;
        }

        .date-calendar{
            color: var(--text-grey-scale-06);
            font-family: var(--font-text-2);
            font-size: rem(14);
            margin-bottom: 4px;
        }

        .text-list-item{
            flex: 1;

            >span{
                color: var(--text-grey-scale-06);
                font-size: rem(12);
                margin: 0 8px;
                display: flex;
                align-items: center;
                gap: 8px;
    
                &::after{
                    content: "";
                    display: block;
                    height: 1px;
                    width: 8px;
                    background-color: var(--text-small);
                }

                @media (max-width: 475px){
                    margin-left: 0;
                }
            }

            p{
                flex: 1;
                color: var(--text-grey-scale-08);
            }

            @media (max-width: 475px){
                margin-top: 2px;
            }

            small{
                font-family: var(--font-text-1);
                color: var(--text-grey-scale-06);
                font-size: rem(12);
                margin-top: 4px;
                display: block;
            }
        }

        .block-gmail-outlook{
            display: flex;
            flex-shrink: 0;
            gap: 16px;

            @media (max-width: 575px){
                justify-content: flex-end;
            }

            span{
                display: none;
                font-size: rem(12);
                color: var(--text-small);
            }

            @media (max-width: 475px){
                margin-left: 0;
                margin-top: 10px;
                
                span{
                    display: block;
                }
            }
        }
    }
}

.list-content-central-results{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    padding-bottom: 24px;

    margin-top: 40px;

    @media (max-width: 991px){
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 575px){
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }

    .item-list-central-results{
        a{
            display: flex;
            align-items: flex-start;
            gap: 8px;
            text-decoration: none;
            background-color: var(--text-secondary-01-var-1);


            img{
                flex-shrink: 0;
                margin-bottom: 0px;
                max-width: 25px;

                @media (max-width: 475px){
                    margin-bottom: 0;
                }
            }

            h3{
                color: var(--text-primary-01-default);
                font-size: rem(16);
                transition: .3s ease-in-out;
                padding-bottom: 8px;
                flex: 1;
                margin-bottom: 0;
                border-bottom: 1px solid var(--text-secondary-01-var-3);
            }

            &:hover{
                h3{
                    color: var(--text-primary-01-var-2);
                }
            }
        }
        
    }
}

.list-calendar-events-home{
    margin-top: 40px;

    .item-calendar-events-home{

        &:not(:last-child){
            margin-bottom: 16px;
        }

        a{
            display: block;
            text-decoration: none;
            padding: 12px 24px 4px;
            border-radius: 12px;
            background-color: var(--pure-white);
        }

        .top-item-calendar-events{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;

            span{
                color: var(--text-secondary-01-default);
                font-weight: 700;
            }
        }

        p{
            color: var(--text-secondary-01-var-4);
            padding-bottom: 12px;
            border-bottom: 2px solid var(--text-secondary-01-var-1);
        }
    }
}

.list-relatorio-anual{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 24px;

    @media (max-width: 575px){
        grid-template-columns: 1fr;
        width: 100%;
    }

    a{
        padding: 16px 80px;
    }
}


.list-news{
    display: block;

    &:not(.list-news-home){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;

        @media (max-width: 991px){
            grid-template-columns: 1fr;
        }

    }

    .slick-track{
        display: flex;
        gap: 32px;

        @media (max-width: 1200px){
            gap: 16px;
        }
    }

    .slick-slide{
        height: inherit;

        >div{
            height: 100%;
        }
    }

    .item-list-news{
        background-color: var(--pure-white);
        height: 100%;


        @media (max-width: 991px){
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        >img{
            width: 100%;
            height: 133px;

            border-radius: 4px 4px 0px 0px;

            object-fit: cover;

            @media (max-width: 991px){
                height: 100%;
            }
        }

        .info-news{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border: 1px solid var(--text-grey-scale-02);
            border-radius: 0px 0px 4px 4px;
            padding: 16px;

            .category{
                color: var(--text-white);
                font-size: rem(10);
                background-color: var(--primary-01-default);

                display: flex;
                align-items: center;
                gap: 4px;

                padding: 4px 8px;
                border-radius: 4px;

                font-family: var(--font-text-3);


                span{
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    &::before{
                        content: "";
                        display: block;
                        height: 13px;
                        width: 1px;
                        background-color: var(--text-primary-01-var-3);
                    }
                }
            }

            .date{
                margin-bottom: 4px;
                font-size: rem(12);
                display: block;
                color: var(--text-small);
                font-family: var(--font-text-3);
            }

            >div{
                margin-top: 12px;
                padding-bottom: 16px;
                border-bottom: 1px solid var(--text-grey-scale-02);
            }

            p{
                font-size: rem(14);
            }

            a{
                font-family: var(--font-text-3);
                margin-top: 16px;
                font-size: rem(12);
                align-self: flex-end;

                color: var(--text-primary-01-default);
            }
        }
    }
}


.list-downloads-documentos{
    padding: 16px 0 0 0px;
    margin-bottom: 0;

    border-top: 1px solid var(--text-secondary-01-var-3);
    
    li{
        margin-bottom: 8px;
        a{
            display: block;
            text-decoration: none;
            line-height: 24px;
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--text-color);

            font-size: rem(14);

            &::before{
                content: "";
                background: url('../images/icons/icon-link-download.svg') no-repeat center;
                background-size: cover;
                height: 16px;
                width: 16px;
                display: block;
            }
        }
    }
}


.for-glossario-conteudo{
	padding: 0;
	list-style: none;

    strong{
        color: var(--text-primary-01-default);
        display: block;
    }

    p{
        >strong{
            margin-bottom: -24px;
        }
    }
}

.for-news-conteudo{
    .slick-list{
        height: auto !important;
    }
}


.list-nav-news{
	padding: 0;
	margin: 0 auto;
    padding-top: 24px;
    margin-bottom: 40px;

    @media (max-width: 767px){
        padding-left: 20px;
        padding-right: 20px;
    }

	.slick-arrow{
		top: 26px;

		&.slick-prev{
			top: 31px;
			left: -38px;
			@media (max-width: 767px){
				left: -5px;
			}

		}

		&.slick-next{
			right: -36px;

			@media (max-width: 767px){
                right: -5px;
			}
		}

		&::before{
			content: url("../images/icons/icon-arrow-right.svg");
			filter: brightness(0);
		}
	}

	.slick-track{
		.slick-slide{
			>div{
                margin: 0px 5px;

                li{
                    margin-bottom: 0;
                }

				a{
					margin: 0;
					text-decoration: none;
					padding: 4px 8px;
					color: var(--text-color);
                    font-size: rem(16);
                    border: none;
					border-radius: 2px;
					display: flex !important;
					align-items: center;
					justify-content: center;
				}
			}
			
			
		}

        .slick-current{
                >div{
                    li{
                        margin-bottom: 0;
                    }
    
                    a{
                        background-color: var(--primary-01-default);
                        font-weight: 400;
                        color: var(--text-white) !important;
                        padding: 4px 8px;
                        font-size: rem(16);
                    }
                }
        }
	}
	
}

.list-sustentabilidade{
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 32px;

    @media (max-width: 991px){
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 475px){
        grid-template-columns: 1fr;
    }

    .item-list-sustentabilidade{
        padding-bottom: 16px;
        border-bottom: 1px solid var(--text-grey-scale-02);

        h3{
            font-size: rem(56);
            color: var(--text-primary-01-default);
            padding-top: 0;
        }

        p{
            font-size: rem(14);
        }
    }
}

.carousel-nav{
    padding: 0px 32px;

    .owl-item {
        margin-right: 16px;
    }

    .owl-nav{
        button{
            transform: translateY(50%);

            span{
                display: block;
                background: url('../images/icons/icon-arrow-right.svg') no-repeat center;
                background-size: contain;
                filter: brightness(0);
                color: transparent;
                height: 100%;
            }

            &.owl-prev{
                transform: rotate(180deg) translateY(-50%);
            }
        }
    }

    .owl-item{


        .ano-item{
            &.active{
                a{
                    background-color: var(--primary-01-default);
                    color: var(--text-white);
                }
            }

            a{
                padding: 4px 8px;
                border-radius: 2px;
                text-decoration: none;
                color: var(--text-grey-scale-08);
                display: block;
                text-align: center;
            }
        }

    }
}