@charset "UTF-8";
.header-qs {
  padding: 0;
  margin: 0;
}

.nav-qs {
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.img-header-qs {
  display: flex;
}

#img-header-qs-ceo {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-right: 72px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

#vector-header-qs {
  z-index: -1;
  margin-left: 200px;
  position: absolute;
}

.depoimentos-qs-title {
  margin-top: 80px;
  margin-bottom: 40px;
  padding-left: 72px;
}
.depoimentos-qs-title span {
  color: #002e5f;
  font-size: 40px;
  font-family: "PT Serif";
  font-weight: 400;
  line-height: 44px;
  word-wrap: break-word;
}
.depoimentos-qs-title h1 {
  color: #002e5f;
  font-size: 40px;
  font-family: "PT Serif";
  font-weight: 700;
  line-height: 44px;
  word-wrap: break-word;
}

.nav-texts-menu a {
  text-decoration: none;
  color: #1d1d1d;
  font-size: 16px;
  font-family: "PT Serif" serif;
  font-weight: 400;
  line-height: 22.4px;
  margin: 10px;
}

.nav-qs-menu {
  margin: auto;
  max-width: 1400px;
}

.items-menu-qs {
  display: flex;
  align-items: center;
  gap: 80px;
}

.header-acessibilidade {
  background-color: black;
  display: flex;
  justify-content: end;
  padding-right: 72px;
  height: 32px;
  align-items: center;
}

.header-tools {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 32px;
}

.header-tools span {
  color: #eeeeee;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 15.84px;
  word-wrap: break-word;
}

.header-language {
  display: flex;
  align-items: center;
  gap: 5px;
}

.infos-img-header-qs {
  position: absolute;
  background-color: #01518c;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  width: 245px;
  float: right;
  margin-top: 280px;
  margin-left: -40px;
}
.infos-img-header-qs h4 {
  color: white;
  font-size: 21px;
  font-family: "PT Serif";
  font-weight: 700;
  line-height: 29.4px;
  word-wrap: break-word;
}
.infos-img-header-qs span {
  color: #dddddd;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
}

.img-quem-somos {
  padding: 0;
  background-image: url("../../images/new-images/Vector 1.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: local;
  position: relative;
}

@media (max-width: 1100px) {
  .img-quem-somos {
    background-image: url("");
  }
  #image-w-ceo {
    margin-left: 73px;
    border-radius: 4px;
    height: 600px !important;
  }
  .image-text-banner-ceo {
    margin-left: 47px !important;
  }
  .container-banner-ceo {
    gap: 0px !important;
  }
}
@media (max-width: 800px) {
  .container-banner-ceo {
    flex-direction: column;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .texts-banner-ceo {
    width: 100% !important;
    padding-left: 72px;
    padding-right: 72px;
    margin-bottom: 30px !important;
  }
  .image-banner-ceo {
    width: 100% !important;
  }
  .image-text-banner-ceo {
    width: 245px !important;
    margin-bottom: 50px !important;
  }
  #image-w-ceo {
    margin-left: 0;
  }
}
#vector-img {
  position: absolute;
  z-index: -1;
  right: 0;
  transform: translateY(0%);
  margin-left: 100px; /* Espaço da direita */
}

.cards-home-qs {
  padding-top: 80px;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.card-content-qs {
  background-color: white;
}

#image-w-ceo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-banner-ceo {
  margin-top: 80px;
  gap: 50px;
  display: flex;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 72px;
  background-repeat: no-repeat;
  background-position: right center;
}

.image-text-banner-ceo {
  position: absolute;
  margin-left: -40px;
  border-radius: 4px;
  width: auto;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
  background-color: #01518c;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
}
.image-text-banner-ceo span {
  color: white;
  font-size: 21px;
  font-family: "PT Serif";
  padding-right: 40px;
  font-weight: 700;
  line-height: 29.4px;
  word-wrap: break-word;
}
.image-text-banner-ceo p {
  color: #dddddd;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
  margin-bottom: 0;
  margin-top: 12px;
}

.texts-banner-ceo {
  width: 50%;
  margin: auto;
  background-color: white;
  z-index: 1;
  position: relative;
}
.texts-banner-ceo h1 {
  color: #002e5f;
  font-size: 34px;
  font-family: "PT Serif";
  font-weight: 400;
  line-height: 44.88px;
  word-wrap: break-word;
}
.texts-banner-ceo h5 {
  color: #666666;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 25.6px;
  word-wrap: break-word;
  margin-bottom: 24px;
}
.texts-banner-ceo p {
  color: #0160a6;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 25.6px;
  word-wrap: break-word;
}

.image-banner-ceo {
  width: 50%;
  display: flex;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}

.conheca-time-qs {
  background-color: #fafafa;
  height: auto;
}

.container-quem-somos {
  display: flex;
  justify-content: center;
  width: 100%;
}

.conheca-title-card-qs {
  padding-left: 72px;
  width: 40%;
}

.infos-text-conheca-qs {
  padding-right: 72px;
  width: 60%;
}

.carrosel-quem-somos {
  margin-top: 64px;
  padding-left: 72px;
  padding-right: 72px;
}

.infos-text-conheca-qs span {
  color: #666666;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 25.6px;
  word-wrap: break-word;
}

.infos-text-conheca-qs h4 {
  margin-top: 24px;
  color: #0160a6;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 25.6px;
  word-wrap: break-word;
}

.conheca-title-card-qs h1 {
  color: #002e5f;
  font-size: 40px;
  font-family: "PT Serif";
  font-weight: 400;
  line-height: 44px;
  word-wrap: break-word;
  margin-bottom: -20px;
}

.conheca-title-card-qs span {
  color: #002e5f;
  font-size: 40px;
  font-family: "PT Serif";
  font-weight: 700;
  line-height: 44px;
  word-wrap: break-word;
}

.title-card-content-qs {
  display: flex;
  justify-content: space-between;
}

.text-content-qs h1 {
  color: #002e5f;
  font-size: 34px;
  font-family: "PT Serif";
  font-weight: 400;
  line-height: 44.88px;
  word-wrap: break-word;
  margin-bottom: 24px;
}
.text-content-qs span {
  color: #666666;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 25.6px;
  word-wrap: break-word;
  margin-bottom: 24px;
}
.text-content-qs h4 {
  color: #0160a6;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 25.6px;
  word-wrap: break-word;
}

.text-img-content-qs img {
  object-fit: cover;
  position: absolute;
  width: 900px;
  margin-left: -600px;
  z-index: -1;
}

.header-language a {
  text-decoration: none;
}

.header-language span {
  color: white;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  text-decoration: underline;
  line-height: 15.84px;
  word-wrap: break-word;
}

.banner-qs {
  padding: 0;
}

.img-banner-qs {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-banner-qs img {
  width: 100%;
  height: auto;
  height: 65.0154798762vh;
  filter: brightness(40%);
  width: 100%;
  object-fit: cover;
}

.infos-banner-qs {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  margin-top: -39.9989615784vh;
}

.container-banner-qs {
  display: flex;
  justify-content: center;
}

.infos-banner-qs h4 {
  color: #fafafa;
  font-size: 40px;
  font-family: "PT Serif";
  font-weight: 400;
  line-height: 44px;
  word-wrap: break-word;
  margin-bottom: 50px;
}

.pag-banner-qs {
  display: flex;
  gap: 20px;
  align-items: center;
}

.pag-banner-qs a {
  text-decoration: none;
}

.pag-banner-qs span {
  color: #eeeeee;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 25.6px;
  word-wrap: break-word;
}

.content-qs {
  background-color: #fff;
  height: 666px;
}

.video-quem-somos {
  position: relative;
  width: 100%;
  height: 300px; /* Altura fixa de 300px */
  overflow: hidden;
  margin-top: 112px;
}

/* Estilos para o vídeo dentro do contêiner */
#video-quem-somos-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Largura ocupa a tela inteira */
  height: 100%; /* Altura ocupa o espaço do contêiner */
  object-fit: cover; /* Mantém a proporção e preenche o contêiner */
}

.video-quem-somos iframe {
  height: 300px;
  background-size: cover;
  object-fit: cover;
  width: 100vw;
}

.img-txt-qs {
  width: auto;
  height: auto;
  display: flex;
  justify-content: end;
}

.img-txt-qs img {
  margin-top: 0px;
  position: absolute;
}

.txt-qs h3 {
  color: #002e5f;
  font-size: 34px;
  font-family: "PT Serif";
  font-weight: 400;
  line-height: 44.88px;
  word-wrap: break-word;
}

.txt-qs span {
  color: #666666;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 25.6px;
  word-wrap: break-word;
}

.txt-qs p {
  color: #0160a6;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 25.6px;
  word-wrap: break-word;
}

.container-infos-qs {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.txt-qs {
  width: 55vh;
  margin-top: 10vh;
}

.card-img-qs {
  z-index: 1;
}

.infos-img-qs {
  position: absolute;
  background-color: #01518c;
  color: white;
  padding: 16px 100px 16px 30px;
  border-radius: 4px;
  margin-top: 480px;
  margin-left: 20px;
}
.infos-img-qs h1 {
  color: white;
  font-size: 21px;
  font-family: "PT Serif";
  font-weight: 700;
  line-height: 29.4px;
  word-wrap: break-word;
}
.infos-img-qs span {
  color: #dddddd;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 22.4px;
  word-wrap: break-word;
}

.card-img-qs img {
  margin-left: 10.3199174407vh;
  height: 615px;
}

.main-container-qs {
  background-color: #fafafa;
  margin-top: 13px;
}

.content-conheca-pnb {
  padding: 80px 72px 80px 72px;
}

.conheca-pnb {
  display: flex;
  gap: 150px;
  margin-top: 80px;
  justify-content: space-between;
}

.conheca-pnb h1 {
  color: #002e5f;
  font-size: 40px;
  font-family: "PT Serif";
  font-weight: 400;
  line-height: 44px;
  word-wrap: break-word;
}

.conheca-pnb h1 span {
  color: #002e5f;
  font-size: 40px;
  font-family: "PT Serif";
  font-weight: 700;
  line-height: 44px;
  word-wrap: break-word;
}

.others-txt-pnb {
  width: 50%;
}

.others-txt-pnb span {
  color: #666666;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 25.6px;
  word-wrap: break-word;
}

.others-txt-pnb h4 {
  color: #0160a6;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 25.6px;
  word-wrap: break-word;
  margin-top: 24px;
}

.conheca-pnb-carrosel {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.content-carrosel-equipe {
  width: 100%;
}

.swiper-pagination-bullet {
  border: 1px solid #002e5f;
  height: 5px;
  background-color: #002e5f;
  width: 21px;
  border-radius: 3px;
  transition: 0.3s ease;
}

.swiper-pagination-bullet-active {
  transition: 0.3s ease;
  width: 72px;
}

.video-conheca-pnb {
  display: flex;
  justify-content: center;
}

.container-depoimento-pnb {
  margin-top: 80px;
  background-color: #fafafa;
}

.depoimento-title {
  margin-bottom: 40px;
}

.depoimento-title h4 {
  color: #002e5f;
  font-size: 40px;
  font-family: "PT Serif";
  font-weight: 400;
  line-height: 44px;
  word-wrap: break-word;
}

.depoimento-title span {
  color: #002e5f;
  font-size: 40px;
  font-family: "PT Serif";
  font-weight: 700;
  line-height: 44px;
  word-wrap: break-word;
}

.contato-pnb {
  display: flex;
  margin-top: 112px;
  gap: 40px;
  margin-bottom: 64px;
  padding-left: 72px;
  padding-right: 72px;
}

.title-contato-pnb {
  width: 35%;
}

.title-contato-pnb h4 {
  color: #002e5f;
  font-size: 34px;
  font-family: "PT Serif";
  font-weight: 400;
  line-height: 44.88px;
  word-wrap: break-word;
}

.title-contato-pnb span {
  color: #002e5f;
  font-size: 34px;
  font-family: "PT Serif";
  font-weight: 700;
  line-height: 44.88px;
  word-wrap: break-word;
}

.contato-text-pnb {
  width: 71%;
}

.contato-text-pnb h4 {
  color: #333333;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 25.6px;
  word-wrap: break-word;
}

.contato-text-pnb h5 {
  margin-top: 24px;
  color: #0160a6;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 25.6px;
  word-wrap: break-word;
}

.box-contatos-pnb {
  width: 100%;
  gap: 16px;
  display: flex;
}

#sobre-banner-ceo {
  position: absolute;
  z-index: -1;
  margin-left: 20px;
}

.box-contatos-pnb a {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #eeeeee;
  border-radius: 4px;
  color: #002e5f;
  font-size: 18px;
  font-family: "PT Serif";
  font-weight: 700;
  line-height: 25.2px;
  word-wrap: break-word;
}

.box-contatos-pnb a img {
  width: 30px;
  margin-right: 20px;
}

.dados-contato-pnb {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-econo {
  display: flex;
  gap: 8px;
}

.dados-econo span {
  color: #999999;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 25.6px;
  word-wrap: break-word;
}

.dados-econo-txt {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dados-econo-txt h4 {
  color: #0160a6;
  font-size: 24px;
  font-family: "PT Serif";
  font-weight: 700;
  line-height: 31.68px;
  word-wrap: break-word;
  margin: 0;
}

.dados-econo-txt span {
  color: #999999;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 25.6px;
  word-wrap: break-word;
}

.content-dados-contato-pnb {
  display: flex;
  gap: 40px;
}

.mySwiper-carrosel-cards-qs {
  display: none;
}

.splide-qs-last {
  display: none;
}

.mySwiper-carrosel-cards-qs {
  padding-top: 56px;
  padding-left: 40px;
  padding-right: 56px;
  padding-bottom: 50px;
}

.img-econo span {
  width: 100%;
  color: #999999;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 15.84px;
  word-wrap: break-word;
}

.infos-contato-pnb {
  background-color: #eeeeee;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 1110px) {
  #splide-quem-somos-clientes {
    display: none;
  }
  .splide-qs-last {
    display: block;
  }
  .contato-text-pnb {
    width: 100%;
  }
  .contato-pnb {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fafafa;
    margin-bottom: 0;
    padding-bottom: 40px;
    padding-top: 80px;
  }
  .content-contato {
    margin-top: 0;
  }
  .title-contato-pnb {
    width: 100%;
  }
}
@media (max-width: 1075px) {
  .items-menu-qs {
    display: none;
  }
  .nav-logo-qs-menu {
    display: none;
  }
  .header-acessibilidade {
    display: none;
  }
}
@media (max-width: 683px) {
  .box-contatos-pnb {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 323px) {
  .image-text-banner-ceo {
    width: auto !important;
  }
}
@media (max-width: 406px) {
  .contato-pnb {
    padding-left: 40px;
    padding-right: 40px;
  }
  .texts-banner-ceo {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .depoimentos-qs-title {
    padding-left: 40px;
  }
  .carrosel-quem-somos {
    padding-left: 10px;
    padding-right: 10px;
  }
  .title-card-content-qs {
    padding-left: 40px;
    padding-right: 40px;
  }
  .infos-text-conheca-qs {
    padding-right: 0px;
  }
  .title-card-content-qs {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media (max-width: 765px) {
  .title-card-content-qs {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 72px;
  }
  .infos-text-conheca-qs {
    width: 100%;
  }
  .conheca-title-card-qs {
    padding-left: 0;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .infos-content-banner-qs {
    flex-direction: column;
    gap: 50px;
  }
}
@media (max-width: 857px) {
  .cards-home-qs {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 610px) {
  .cards-home-qs {
    display: none;
  }
  .mySwiper-carrosel-cards-qs {
    display: block;
  }
}
@media (max-width: 750px) {
  .title-card-content-qs {
    flex-direction: column;
  }
}

/*# sourceMappingURL=header-quem-somos.css.map */
