:root {
	// Font Family

	--font-text-1: 'Rubik';
	--font-text-2: Arial;
	--font-icomoon: 'Icomoon';

	// Text Colors

	--text-color: #666666;

	--text-white: #FFFFFF;
	--text-black: #282828;

	--text-primary-01-default: #FA4616; 
	--text-primary-01-var-1: #E03F14;
	--text-primary-01-var-2: #C73812;
	--text-primary-01-var-3: #AD310F;

	--text-secondary-01-default: #C62B0D;
	--text-secondary-01-var-1: #2E0A03;
	--text-secondary-01-var-2: #611506;
	--text-secondary-01-var-3: #AD260B;

	--text-grey-scale-00: #FFFFFF;
	--text-grey-scale-01: #FAFAFA;
	--text-grey-scale-02: #F2F2F2;
	--text-grey-scale-03: #DEDEDE;
	--text-grey-scale-04: #CCCCCC;
	--text-grey-scale-05: #B8B8B8;
	--text-grey-scale-06: #A3A3A3;
	--text-grey-scale-07: #808080;
	--text-grey-scale-08: #525252;
	--text-grey-scale-09: #3D3D3D;
	--text-grey-scale-10: #1A1A1A;
	
	--text-small: #808080;

	--text-disabled: #D9D9D9;

	--text-system-focus: #2E82E5;
	--text-system-link: #1A0DAB;
	--text-system-link-visited: #1B1466;
	--text-system-negative: #D23A20;
	--text-system-alert: #E5AC00;
	--text-system-positive: #1E986F;

	// Solid Colors

	--color: #666666;

	--pure-white: #FFFFFF;
	--pure-black: #282828;

	--primary-01-default: #FA4616; 
	--primary-01-var-1: #E03F14;
	--primary-01-var-2: #C73812;
	--primary-01-var-3: #AD310F;

	--secondary-01-default: #C62B0D;
	--secondary-01-var-1: #2E0A03;
	--secondary-01-var-2: #611506;
	--secondary-01-var-3: #AD260B;

	--grey-scale-00: #FFFFFF;
	--grey-scale-01: #FAFAFA;
	--grey-scale-02: #F2F2F2;
	--grey-scale-03: #DEDEDE;
	--grey-scale-04: #CCCCCC;
	--grey-scale-05: #B8B8B8;
	--grey-scale-06: #A3A3A3;
	--grey-scale-07: #808080;
	--grey-scale-08: #525252;
	--grey-scale-09: #3D3D3D;
	--grey-scale-10: #1A1A1A;
	
	--small: #808080;

	--disabled: #D9D9D9;

	--system-focus: #2E82E5;
	--system-link: #1A0DAB;
	--system-link-visited: #1B1466;
	--system-negative: #D23A20;
	--system-alert: #E5AC00;
	--system-positive: #1E986F;


}